# PostgreSQLのホスト名
KTOR_APP_POSTGRES_HOST=127.0.0.1

# PostgreSQLのポート
KTOR_APP_POSTGRES_PORT=13461

# PostgreSQLのユーザ
KTOR_APP_POSTGRES_USER=ktor

# PostgreSQLのパスワード
KTOR_APP_POSTGRES_PASSWORD=ktor123456789

# PostgreSQLのDB名
KTOR_APP_POSTGRES_DB=book_manager

# JWTの署名鍵
KTOR_APP_JWT_SECRET=SkDPDprxP3b4g9XzGgFK2GMqF42dOu4IrfZJQqvj6trJtU3czQDv+/mFs2vz0Ix7Re0OYzytJsa6pJW9tEkRRA==
